<link rel="apple-touch-icon" sizes="180x180" href="{{ "icons/apple-touch-icon.png" | relURL }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ "icons/favicon-32x32.png" | relURL }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ "icons/favicon-16x16.png" | relURL }}" />
<link rel="manifest" href="{{ "icons/site.webmanifest" | relURL }}" />
<link rel="icon" type="image/x-icon" href="{{ "icons/favicon.ico" | relURL }}" />
<link rel="icon" type="image/png" sizes="192x192" href="{{ "icons/android-chrome-192x192.png" | relURL }}" />
<link rel="icon" type="image/png" sizes="512x512" href="{{ "icons/android-chrome-512x512.png" | relURL }}" />
